node_modules
package-lock.json
package.json
Détail Lotus bungalow .docx
.vscode

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarnrc.yml

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.test.example
!.env.production.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/public/locales/*/*.json
!public/locales/en/common.json
!public/locales/fr/common.json
!public/locales/mg/common.json
/public/images

#client
client/
*.txt
*js
